/* 
Google font : Roboto
use: font-family: 'Roboto', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  background-color: #212529;
  font-family: 'Roboto', sans-serif;
}
.mx-n7 {
  margin-left: -1.8rem !important;
}

.add1 {
  display: flex;
  flex-wrap: wrap;
}

.add2 {
  flex: 1 1 300px;
}

body {
  margin-top: 72px;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 62px;
  }
}

.brand-name{
  color: #C1F6DF;
  letter-spacing: 2.7px;
}

*a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

.container a {
  text-decoration: none !important;
  color: rgb(198, 191, 191);
}

.container a:hover {
  color: white;
}

.container h2, p,
h5 {
  color: rgb(198, 191, 191);
}

.brand-moto {
  font-style: normal;
  font-weight: 100;
  letter-spacing: 1.75px;
}

.projecthub-intro {
  background-color: #eeeeee13;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 0rem 1.3rem 0rem;
  border-radius: 7.5px;
}

.introduction {
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 3px;
}

.top-projects {
  padding: 0px;
}

.recent-project-grid-header{
  background-color: #eeeeee13;
  padding: 1rem 0rem 1.3rem 0rem;
  border-radius: 7.5px;
  color: #0A999C;
  letter-spacing: 5.5px;
  /* border: 0.07rem solid rgba(255, 255, 255, 0.684); */
}

.header {
  font-size: 1.1rem;
  margin: 0px;
}

/*
-------------------------------------------------------------
down section (recent project items)                                |
-------------------------------------------------------------
*/
.down-view {
  position: relative;
  top: 80vh;
}

.project-list div#portfolio-grid {
  display: flex;
  justify-content: center;
}

/* Project Card Styling */
.top-project {
  color: rgb(60, 74, 87);
  background-color:#BDBDBD;
  text-align: center;
  border: none;
  font-family: 'Roboto mono', serif;
}

/* Project Section Header */
.project-head{
  padding-top: 10px;
  text-transform: uppercase;
  color: rgba(50, 25, 25, 0.877);
  letter-spacing: 2px;
  cursor: pointer;
}

/* project-items */
.item {
  border: none;
  margin-bottom: 30px;
}

.item .item-wrap {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 0.7rem;
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: .3s all ease-in-out;
}

.item .item-wrap img {
  transition: .3s transform ease;
  transform: scale(1);
}

.img-fluid {
  width:415px;
  height:250px;
}

.item .item-wrap > .work-info {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 3;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  transition: .3s all ease;
}

.item .item-wrap > .work-info h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.item .item-wrap > .work-info span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.item .item-wrap:hover {
  text-decoration: none;
}

.item .item-wrap:hover img {
  transform: scale(1.05);
}

.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.item .item-wrap:hover .work-info {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}

.work-info > h3, .work-info > span{
  overflow: hidden;
}

/* All Projects Link */
#allProjectsLink {
  margin-top: 5px;
  padding-bottom: 20px;
}
#allProjectsLink .btn{
  justify-content: center;
  color: #222629;
  border-color: #222629;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.2em;
  transition: all 0.2s ease-in;
}
#allProjectsLink .btn:hover {
  color: #f2f2f2;
  background-color: #222629;
}


.footer-nav {
  padding: 0px;
  margin: 10px 0px 20px 0px;
}

.footer-item {
  padding: 3px 3px;
}

.heading {
  color: rgb(251, 248, 248);
}

.footer-copyright p {
  margin: 5px 0px;
  font-size: 0.75rem;
  color: rgb(183, 181, 181);
}
