/* 
Google font : Roboto
use: font-family: 'Roboto', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  background-color: #212529;
  font-family: 'Roboto', sans-serif;
}
.mx-n7 {
  margin-left: -1.8rem !important;
}

.site-font h1 {
  /* font-family: algerian; */
  padding-top: 0.1cm;
}

.add1 {
  display: flex;
  flex-wrap: wrap;
}

.add2 {
  flex: 1 1 300px;
}

body {
  margin-top: 72px;
}
@media screen and (max-width: 768px) {
  body {
    padding-top: 62px;
  }
}

.brand-name{
  color: #C1F6DF;
  letter-spacing: 2.7px;
}

*a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

.container a {
  text-decoration: none !important;
  color: white;
}

.container p {
  font-weight: bold;
  font-style: italic;
}

.container h2, p,
h4,
h5 {
  color: rgb(198, 191, 191);
}

/* .container a:hover {
  color: black;
} */

.footer{
  /* background-color: #495057; */
}

.footer-copyright p {
  color: rgb(183, 181, 181);
}

.fa-android {
  color: greenyellow;
}

.fa-facebook:hover {
  color: #0e76a8;
}

.fa-twitter:hover {
  color: #1DA1F2;
}
.fa-linkedin:hover {
  color: #0e76a8;
}
.fa-instagram:hover {
  color: #8a3ab9;
}

.fa-youtube-play:hover {
  color: #7c0c0c;
}

#recent-project-grid-header{
  color: #0A999C;
}