{% load static %}
<!--Navbar for new/logged-out user-->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container container-fluid">
        <a class="navbar-brand active" href="{% url 'home' %}">
            <img src="{% static 'ProjectO/icons/Brand.png' %}" width="30" height="30" alt="Brand logo" loading="lazy"
                class="rounded mt-n1 mr-1">
            <span class="brand-name">ProjectHub</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav mx-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'projects:creative_projects' %}">Creative Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'projects:software_projects' %}">Softwear Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'projects:electronics_projects' %}">Electronics Projects</a>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                {% if user.is_authenticated %}
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle dropdown-toggle__bkg_color" data-toggle="dropdown"
                        aria-expanded="false">
                        Welcome {{ user.username }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right bg-dark">
                        <li class="dropdown-item">
                            <a class="dropdown__link" href="{% url 'accounts:profile' %}">Profile
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown__link" href="{% url 'accounts:update_profile' %}">Edit Profile
                            </a>
                        </li>
                        {% if user.is_superuser %}
                        <li class="dropdown-item">
                            <a class="dropdown__link" href="{% url 'admin:index' %}">Admin Panel
                            </a>
                        </li>
                        {% endif %}
                        <li class="dropdown-item">
                            <a class="dropdown__link" href="{% url 'accounts:logout' %}">Log out
                            </a>
                        </li>
                    </div>
                </div>
                {% else %}
                <!-- need to add sign up view and url -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">
                        <button type="button" class="btn btn-outline auth-btn">Sign In</button>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- navbar ends here -->