{% extends "ProjectO/base.html" %} {% load static %}

<!-- css -->
{% block css_link %}
  <link rel="stylesheet" href="{% static 'ProjectO/css/projecto-master.css' %}" />
{% endblock %}

<!-- body content -->
{% block content %}
<div>
  <!--Navbar for new/logged-out user-->
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container container-fluid">
      <a class="navbar-brand active" href="{% url 'home' %}">
        <img src="{% static 'ProjectO/images/logo.jpg' %}" width="30" height="30" alt="Brand logo" loading="lazy" class="rounded mt-n1">
        SIT ProjectO
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav mx-auto">
          <li class="nav-item ">
            <a class="nav-link" href="#">Creative Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Softwear Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Electronics Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Trends</a>
          </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item">

            {% if user.is_authenticated %}
                <a class="nav-link" href="/"><button type="button" class="btn btn-outline-warning">Welcome {{ user.username }}</button></a>
              {% if user.is_superuser %}
                <a class="nav-link" href="{% url 'admin:index' %}"><button type="button" class="btn btn-outline-warning">ADMIN PANEL</button></a>
              {% endif %}
                <a class="nav-link" href="{% url 'accounts:logout' %}"><button type="button" class="btn btn-outline-warning">Log Out</button></a>
            {% else %}
                <a class="nav-link" href="{% url 'accounts:login' %}"><button type="button" class="btn btn-outline-warning">Log In</button></a>

                <!-- need to add sign up view and url -->
                <a class="nav-link" href="{% url 'accounts:signup' %}"><button type="button" class="btn btn-outline-warning">Register</button></a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar ends here -->
  {% if not user.is_authenticated %}
    <!-- if a user not registered or logged-in -->
    <div class="container container-fluid alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Hello User!</strong> Seems like you have not <strong>register</strong> or <strong>log in</strong> yet it may block some features for you!!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  <!--slide show of body part start here-->
  <div id="carouselExampleCaptions" class="container container-fluid carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'ProjectO/images/slide1.jfif' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Softwear project</h2>
          <p>welcome IT / computer science engineer this drawer can give you more than you need</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'ProjectO/images/slide2.jfif' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Electronics Projects</h2>
          <p>welcome electrical and electronics engineers it's for you</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'ProjectO/images/slide4.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Creative Projects</h2>
          <p>welcome to Project world you can be a master of creativity just visit this world </p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!--slide show ends here-->
  <h1 class="container container-fluid text-center text-info my-4 my-font">
    RECENT TRENDING PROFILES & PROJECTS
  </h1>

  <!--trending profiles section start here-->
  <div class="container container-fluid my-5">
    <div class="row add1">
      <div class="col-lg-4 add2">
        <img src="https://source.unsplash.com/140x140/?nature,water" class="bd-placeholder-img rounded-circle"
          width="140" height="140">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text>
        </img>
        <h2 class="text-danger">Trending #1</h2>
        <h5>User Name</h5>
        <p>Project name and details should be here</p>
        <p><a class="btn btn-success" href="#" role="button">View project »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 add2">
        <img src="https://source.unsplash.com/140x140/?life,plant" class="bd-placeholder-img rounded-circle" width="140"
          height="140">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text>
        </img>
        <h2 class="text-warning">Trending #2</h2>
        <h5>User Name</h5>
        <p>Project name with details should be here</p>
        <p><a class="btn btn-success" href="#" role="button">View project »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 add2">
        <img src="https://source.unsplash.com/140x140/?nature,mountain" class="bd-placeholder-img rounded-circle"
          width="140" height="140">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text>
        </img>
        <h2 class="text-success">Trending #3</h2>
        <h5>User Name</h5>
        <p>Project name and some primary details should be here</p>
        <p><a class="btn btn-success" href="#" role="button">View project »</a></p>
      </div><!-- /.col-lg-4 -->
    </div>
  </div>
  <!--trending section end here-->
</div>
{% endblock %}

<!-- javascript -->
{% block js %}
  <script src="{% static 'ProjectO/js/projecto.js' %}"></script>
{% endblock %}

<!--footer block-->
{% block footer %}
<footer class="bg-secondary pt-4">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4 pt-0 footer-about" >
        <!-- <h1>projecto</h1> -->
         <h1>𝓟ᖇ𝑜𝐣𝓔𝓬𝕋𝔬</h1>
          <p>
            Always looking for new and creative ideas to help you with different types of project idea in your technical career.
          </p>
          <p>Scientiests dream about doing great things. Engineers do them.</p>
          <p>
            <i class="fa fa-android fa-2x"></i><a href="#">&nbsp&nbspGet Android App Here</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact">
          <h4>ℂ𝕠𝕟𝕥𝕒𝕔𝕥</h4>
          <p><i class="fa fa-home mt-4" ></i>Address:</p>
          <p><i class="fa fa-phone"></i> Phone: +91-8918380762</p>
          <p><i class="fa fa-envelope"></i> Email: <a href="mailto:mailshouldbehere">mail here</a></p>
          <h4>𝔸𝕓𝕠𝕦𝕥</h4>
          <p><i class="fa fa-info fa-lg"></i><a href="#">&nbsp&nbspTeam ProjectO</a></p>
        </div>
        <div class="col-md-4 col-lg-3">
          <h4>𝕗𝕠𝕝𝕝𝕠𝕨 𝕦𝕤</h4>
          <ul class="d-flex flex-wrap ml-n5 my-5">
            <li class="px-2"><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
            <li class="px-2"><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li class="px-2"><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
            <li class="px-2"><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
            <li class="px-2"><a href="#"><i class="fa fa-youtube-play fa-lg"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-9 footer-copyright">
          <p>@ 2020-2021 ,Website created by team ProjectO with  &#9829.</p>
        </div>
        <div class="col-md-3 footer-go-top">
          <a href="#"><i class="fa fa-angle-double-up">&nbsp&nbspGo Top</i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}