{% extends 'accounts/_accounts_base.html' %}
{% load static %}

{%block tittle%}
<title>ProjectHub | Sign In</title>
{%endblock%}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{%endblock%}

{%block content%}
<div class="wrapper">
	<div class="inner">
		<div class="image-holder">
			<img src="{% static 'accounts/images/robot-hand.jpg' %}" alt="Connect Icon">
		</div>

		<form action="{% url 'accounts:login' %}" method="POST" id="login_form" name="login_form">
			{% csrf_token %}
			<h3>Welcome Back</h3><br>
			<h3>LOG IN</h3>

			{% if form.errors %}
				<div class="form-wrapper">
					<span class="form-not-valid ml-2">
						<small style="color: red;">Username or Password is incorrect, Please try again.</small>
					</span>
				</div>
			{% endif %}
			<div class="form-wrapper">
				{{ form.username }}
				<i class="material-icons md-18">person</i>
			</div>

			<div class="form-wrapper">
				{{ form.password }}
				<i class="material-icons md-18">vpn_key</i>
			</div>

			<div class="form-wrapper2">
				<p><input type="checkbox">Remember me</p>
				<a href="{% url 'accounts:password_reset' %}">forgot password?</a>
			</div>

			<br>
			<div class="form-wrapper">
				<a href="{% url 'accounts:signup' %}">Don't have an account?</a>
			</div>

			<button for="login_form" type="submit">
				Login
				<i class="material-icons md-18">arrow_right_alt</i>
			</button>

			<h4>Or</h4>
			<hr>

			<div class="container">
				<!--		Singin Via Google			-->
				<a href="#">
					<button>
						sign in
						<i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
					</button>
				</a>
				</br>
				<!--		Singin Via linkedin			-->
				<a href="#">
					<button>
						sign in
						<i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
					</button>
				</a>
				</br>
				<!--		Singin Via github			-->
				<a href="#">
					<button>
						sign in
						<i class="fa fa-github fa-lg" aria-hidden="true"></i>
					</button>
				</a>
			</div>
		</form>

	</div>
</div>
{%endblock%}