{% extends 'accounts/_accounts_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{%block tittle%}
<title>Account Recovery | Reset Password</title>
{%endblock%}

<!-- CUSTOM STATIC CSS ADDED -->
{% block custom_css %}
<link rel="stylesheet" href="{% static 'accounts/css/user_profile.css' %}">
{% endblock %}

{%block content%}
{% include 'ProjectO/_navbar.html' %}
<div class="card_form" style="height: 100vh; display: flex; align-items: center;">
    <div class="mx-auto my-auto w-50">
        <div class="card rounded-lg text-white bg-dark w-100 form-group pt-5 pb-5">
            <div class="card-body">
                <div class="alert bg-transparent" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    <p class="text-white">Aww yeah, you successfully created a reset request. An email has been sent with instruction to reset your password.</p>
                    <hr style="border-color: #c1f6df;">
                    <p class="mb-0 text-white">Kindly go through steps in the email to reset your password.</p>
                  </div>
            </div>
            <div class="btn">
                <a href="/" class="btn btn-primary btn_site_color">Go to Home Page</a>
            </div>
        </div>
    </div>
</div>

{%endblock%}