{% extends 'accounts/_accounts_base.html' %}
{% load static %}

{%block tittle%}
<title>Account Recovery | Reset Password</title>
{%endblock%}

<!-- CUSTOM STATIC CSS ADDED -->
{% block custom_css %}
<link rel="stylesheet" href="{% static 'accounts/css/user_profile.css' %}">
{% endblock %}

{%block content%}
{% include 'ProjectO/_navbar.html' %}
<section class="container rounded-lg jumbotron jumbotron-fluid bg-dark mt-4 mb-4" style="display: flex; flex-direction: column;">
    <form class="mx-5" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row form-group">
            <div class="col">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form }}
            </div>
        </div>
        <div class="submit_btn text-center">
            <button type="submit" class="btn btn-lg btn-outline-secondary">Reset Password Request</button>
        </div>
    </form>
</section>

{%endblock%}