{% extends 'accounts/_accounts_base.html' %}
{% load static %}

{%block tittle%}
<title>ProjectHub | Sign Up</title>
{%endblock%}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'accounts/css/signup.css' %}">
{%endblock%}

{%block content%}
<div class="wrapper">
	<div class="inner">
		<div class="image-holder">
			<img src="{% static 'accounts/images/robot-hand.jpg' %}" alt="Connect Icon">
		</div>
		<form action="" method="POST">
			{% csrf_token %}
			<h3>Upskill by Register</h3>

			{% if form.errors %}
			<div class="form-wrapper">
				{% for error in form.errors %}
				<span class="form-not-valid ml-2">
					<small style="color: red;">{{ error }}</small>
				</span>
				{% endfor %}
			</div>
			{% endif %}

			<div class="form-wrapper">
				{{ form.username }}
				<i class="material-icons md-18">person</i>
			</div>

			<div class="form-group">
				{{ form.first_name }}
				{{ form.last_name }}
			</div>

			<div class="form-wrapper">
				{{ form.email }}
				<i class="material-icons md-18">mail</i>
			</div>

			<div class="form-wrapper">
				<select name="" id="" class="form-control">
					<option value="" disabled selected>College Name</option>
					<!--input all technical college name of india -->
					<option value="college_name">Siliguri Institute Of Technology</option>
					<option value="college_name">Surendra Institute Of Technology</option>
					<option value="college_name">Jadavpur University</option>
				</select>
			</div>

			<div class="form-wrapper">
				{{ form.password1 }}
				<i class="material-icons md-18">vpn_key</i>
			</div>

			<div class="form-wrapper">
				{{ form.password2 }}
				<i class="material-icons md-18">vpn_key</i>
			</div>

			<div class="form-wrapper2">
				<a href="{% url 'accounts:login' %}">Already have an account?</a>
			</div>
			<a href="#">
				<button>Register
					<i class="material-icons md-18">arrow_right_alt</i>
				</button>
			</a>

			<h4>Or</h4>
			<hr>
			<div class="container">
				<a href="#">
					<button>sign up
						<i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
					</button>
				</a>
				</br>
				<a href="#">
					<button>sign up
						<i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
					</button>
				</a>
				</br>
				<a href="#">
					<button>sign up
						<i class="fa fa-github fa-lg" aria-hidden="true"></i>
					</button>
				</a>
			</div>
		</form>
	</div>
</div>
{%endblock%}
