{% extends 'accounts/_accounts_base.html' %}
{% load static %}

{%block tittle%}
<title>{{ user.username }} | Profile</title>
{%endblock%}

{%block content%}
<!--Navbar for new/logged-out user-->
{% include 'ProjectO/_navbar.html' %}
<!-- navbar ends here -->

<!-- image header -->
<section>
    <img src="{% static 'ProjectO/images/slide3.jpeg' %}" style="height:270px; width: 100%;" />
    <img src="{{ user.profile.profile_image.url }}"
        style="height:200px; width:250px; border-radius: 45%; margin-top: -150px; margin-left: 6%;" alt="profile pic" />
</section>

<!-- User profile details card -->
{% include 'accounts/_user_profile_card.html' %}

<!-- Footer -->
{% include 'ProjectO/_footer.html' %}

{%endblock%}